/* Sidebar buttons */
.button {
  border-radius: 15px;
  background: #a8b5c1;
  color: white;
  font-size: 80%;
  text-align: center;
  padding: 3px 8px;
  margin: 5px;
  cursor: pointer;
}

.button:active {
  background: #4193e0;
}

/* Sidebar request log list */
.scrollList {
  overflow-y: auto;
  width: 375px;
  height: 200px;
  max-width: 375px;
  max-height: 200px;
  border-style: double;
}

.logElement {
  font-family: Helvetica;
  font-size: 80%;
  color: black;
  padding: 10px 5px;
}

.logElement:hover {
  background-color: #005dff;
  color: white;
  cursor: pointer;
}

.label {
  font-family: Helvetica;
  font-size: 80%;
}

/* Round indicators */
.circle {
  border-radius: 50%;
  width: 10px;
  height: 10px;
}

.monitorONcolor {
  background-color: green;
}

.monitorOFFcolor {
  background-color: yellow;
}

.recShow {
  background-color: red;
}

.blink {
  animation: blink 1s steps(3, start) infinite;
}

@keyframes blink {
  to { visibility: hidden; }
}

.float-left {
  float: left;
  margin: 2px;
}

/* Response Body checkbox */
.checkbox {
  font-family: Helvetica;
  font-size: 70%;
}
