.scrollList {
  overflow-y: auto;
  width: 375px;
  height: 200px;
  max-width: 375px;
  max-height: 200px;
  border-style: double;
}

.label {
  font-family: Helvetica;
  font-size: 80%;
}

.circle {
  border-radius: 50%;
  width: 10px;
  height: 10px;
}

.monitorONcolor {
  background-color: green;
}

.monitorOFFcolor {
  background-color: yellow;
}

.recShow {
  background-color: red;
}

.blink {
  animation: blink 1s steps(3, start) infinite;
}

@keyframes blink {
  to { visibility: hidden; }
}

.float-left {
  float: left;
  margin: 2px;
}
